.app-container {
  position: relative;
}

.header {
  font-size: 36px;
  font-weight: 500;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.61);
  color: white;
  background: linear-gradient(180deg, #2242b3 0%, #090c67 100%);
  text-transform: uppercase;
  letter-spacing: 4px;
  text-align: center;
  padding: 25px 0;
}

.main {
  margin-bottom: 50px;
}

.navbar {
  width: 100%;
  transition: height 0.1s ease-out;
  will-change: height;
  position: fixed;
  bottom: 0;
  z-index: 3000;
  background: linear-gradient(180deg, #2242b3 0%, #090c67 100%);
}

@media screen and (min-width: 1020px) {
  .main {
    margin-bottom: 10px;
  }

  .header {
    display: none;
  }

  .navbar {
    z-index: 3000;
    top: 0;
    height: 65px;
    padding: 0;
    background-image: none;
    background: linear-gradient(180deg, #2242b3 0%, #090c67 100%);
  }

  .footer {
    display: none;
  }
}
