.app-container {
  position: relative;
  display: flex;
  flex-direction: column;
}

.header {
  order: 1;
  font-size: 36px;
  font-weight: 600;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.61);
  color: white;
}

.navbar-fixed {
  order: 4;
}

.main {
  order: 2;
}

.footer {
  order: 3;
}

.navbar {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 52px;
}

@media screen and (min-width: 650px) {
  .header {
    order: 2;
    margin-top: 75px;
  }

  .navbar-fixed {
    order: 1;
    z-index: 3000;
  }

  .main {
    order: 3;
  }

  .footer {
    order: 4;
  }

  .navbar {
    top: 0;
  }
}
