.bookdetail {
  margin: 8px;
}

.buttonBar {
  display: flex;
  justify-content: space-between;
  padding: 0 2rem;
}

.map-book-detail {
  margin-left: auto;
  margin-right: auto;
  width: 80vw;
  height: 40vh;
}

.buttonBar button img {
  height: 60px;
  filter: drop-shadow(0px 0px 1px black);
}

.titre {
  color: #0e5667;
  text-decoration: initial;
  font-weight: 600;
  font-size: 2rem;
  margin: 0.5rem 0;
  text-align: center;
}

.auteur {
  font-size: large;
  text-align: center;
  color: #0e5667;
  font-size: 1.5rem;
  font-weight: 500;
}

.bookImage {
  height: 60vh;
  border-radius: 20px;
  display: block;
  margin: 32px auto;
}

.carateristicsDatas {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.carateristics {
  padding: 4px 0;
  font-size: 1.5rem;
}

.resumebookDetail {
  text-align: justify;
  width: 90%;
  margin: 1rem auto;
  background-color: white;
  border: 1px solid #0e5667;
  border-radius: 10px;
  padding: 12px 20px;
  font-size: 1.3rem;
  margin-bottom: 2rem;
}

.text-before-map {
  width: 100vw;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 2rem;
}

@media screen and (min-width: 1000px) {
  .buttonBar {
    justify-content: flex-end;
  }

  .books-infos {
    min-width: 30vw;
    display: flex;
    justify-content: space-around;
  }

  .bookImage {
    height: 30vh;
  }

  .resumebookDetail {
    width: initial;
  }

  .test-map {
    width: 100px;
  }
}
