.bookdetail {
  margin: 8px;
}

.buttonBar {
  display: flex;
  justify-content: space-between;
  padding: 0 2rem;
  margin-bottom: 32px;
}

.buttonBar button img {
  height: 60px;
  filter: drop-shadow(0px 0px 1px black);
}

.titre {
  color: #0e5667;
  text-decoration: initial;
  font-weight: 600;
  font-size: 2rem;
  margin: 0.5rem 0;
  text-align: center;
}

.auteur {
  font-size: large;
  text-align: center;
  color: #0e5667;
  font-size: 1.5rem;
  font-weight: 500;
}

.bookImage {
  height: 600px;
  display: block;
  margin: 32px auto;
}

.carateristicsDatas {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.carateristics {
  padding: 4px 0;
  font-size: 1.5rem;
}

.resumebookDetail {
  text-align: justify;
  width: 90%;
  margin: 1rem auto;
  background-color: white;
  border: 1px solid #0e5667;
  border-radius: 10px;
  padding: 12px 20px;
  font-size: 1.3rem;
}

.text-before-map {
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 16px 0;
}

@media screen and (min-width: 1000px) {
  .map-books {
    display: hidden;
  }

  .bookImage {
    height: 45vh;
    width: 20vw;
  }
}
