.bookdetail {
  margin: 8px;
}

.bookdetail h2 {
  color: #0e5667;
  text-decoration: initial;
  font-weight: 600;
  font-size: x-large;
  margin: 1rem;
}

.carateristicsContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #0e5667;
}

.carateristicsContainer img {
  height: 220px;
  border-radius: 20px;
}

.carateristicsDatas {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 5px;
}

#lectorsRates {
  font-size: large;
  font-weight: 500;
}

#author {
  text-align: left;
  font-size: large;
}

.resumebookDetail {
  text-align: justify;
  width: 90%;
  margin: 1rem auto;
  background-color: white;
  border: 1px solid #0e5667;
  border-radius: 10px;
  padding: 8px;
}
