.bookdetail {
  margin: 8px;
}

.bookdetail h2 {
  color: #0e5667;
  text-decoration: initial;
  text-align: left;
  font-weight: 600;
  font-size: large;
}

.mainContainerBookDetail {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  color: #0e5667;
}

.mainContainerBookDetail img {
  height: 220px;
  border-radius: 20px;
}
.carateristicsContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 220px;
  padding: 5px;
}

.carateristicsContainer h2 {
  font-size: large;
  font-weight: 500;
}

.resumebookDetail {
  text-align: justify;
  width: 90vw;
  margin: 1rem 0;
  background-color: white;
  border: 1px solid #0e5667;
  border-radius: 10px;
  padding: 8px;
}

.bookdetail button {
  border-radius: 10px;
  background: #1b9eb2;
  border: 1px solid rgba(14, 86, 103, 1);
  cursor: pointer;
  color: white;
  padding: 4px 16px;
  display: block;
  margin: 0 auto;
}
