.color-bg {
  background: linear-gradient(180deg, #2242b3 0%, #090c67 100%);
}

.rating {
  display: flex;
  justify-content: center;
  font-size: 25px;
  overflow: hidden;
}

#html5qr-code-full-region__scan_region {
  display: flex;
  justify-content: center;
}

#html5qr-code-full-region__camera_permission_button {
  text-decoration: underline;
  font-weight: 600;
  font-family: 'poppins', sans-serif;
}

#html5qr-code-full-region {
  border-radius: 10px;
}

.rating a,
.rating label {
  color: #aaa;
  text-decoration: none;
  transition: color 0.4s;
}

.rating label:hover ~ label,
.rating input:focus ~ label,
.rating label:hover,
.rating a:hover,
.rating a:hover ~ a,
.rating a:focus,
.rating a:focus ~ a {
  color: orange;
  cursor: pointer;
}

.rating2 {
  direction: rtl;
}

.rating2 a {
  float: none;
  font-size: 3rem;
}

.add-book-form {
  text-align: center;
  background: white;
  border-radius: 10px;
  animation: pop-in 0.4s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  width: 100vw;
}

.quit-btn {
  color: red;
  font-size: 1.2em;
}

.text-xxs {
  font-size: 0.6rem;
}

.h-38 {
  height: 9.5rem;
}

.abort-form {
  animation: pop-out 0.4s ease-in-out;
}

.book-cover {
  min-width: 25%;
  max-width: 25%;
  height: 100%;
}

@keyframes pop-in {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

@keyframes pop-out {
  from {
    width: 100%;
  }
  to {
    width: 0%;
  }
}

@media screen and (min-width: 1000px) {
  .box-content-container {
    overflow: scroll;
    width: 80vw;
    margin-left: 30px;
    display: flex;
    flex-direction: row-reverse;
  }

  .box-content {
    width: 40vw;
    height: 100vh;
    overflow-y: scroll;
  }

  .add-book-form {
    width: 40vw;
  }

  .test {
    float: right;
    background-color: gray;
    width: 50%;
    height: 100vh;
  }

  .bookdetail {
    margin-left: 5rem;
    float: right;
    width: 40vw;
  }

  .books-form-container {
    justify-self: flex-end;
  }

  .book-detail {
    margin-left: 30px;
  }

  .abort-form {
    animation: pop-out-desktop 0.4s ease-in-out;
  }

  .add-book-form {
    position: fixed;
    animation: pop-in-desktop 0.4s ease-in-out;
  }

  @keyframes pop-in-desktop {
    from {
      width: 0%;
    }
    to {
      width: 50%;
    }
  }

  @keyframes pop-out-desktop {
    from {
      width: 50%;
    }
    to {
      width: 0%;
    }
  }

  .book-cover {
    min-width: 20%;
    max-width: 20%;
    height: 100%;
  }
}
