.favoriteBooks {
  margin: 0;
}

.favoriteBooks h2 {
  font-size: 2.5rem;
  font-weight: bolder;
  text-align: center;
  text-decoration: none;
  margin-bottom: 24px;
}

.bookCard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  margin: 0 30px;
  margin-bottom: 1rem;
  background-color: white;
  padding: 8px;
  padding-right: 24px;
  box-shadow: 6px 6px 24px rgb(171, 171, 171);
}

.bookCard img {
  height: 140px;
  border-radius: 20px;
}

.bookContainer {
  display: flex;
  width: 100%-190px;
}

.bookDatas {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5px;
  padding-left: 12px;
  font-size: 0.9rem;
}

.bookDatas .title {
  font-weight: bold;
}

.heart {
  width: 50px;
}
@media screen and (min-width: 1020px) {
  .favoriteBooks {
    width: 80%;
  }
  .bookdetail {
    width: 90%;
  }

  .favorite-books-coontainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin-top: 24px;
    margin-left: 5%;
  }
}
