/* cursor-pointer sur link*/

.favoriteBooks {
  margin: 1rem;
}

.favoriteBooks h2 {
  margin: 1.5rem;
  font-size: x-large;
  font-weight: bolder;
  text-align: center;
  text-decoration: none;
}

.bookCard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  margin-bottom: 1rem;
}

.bookCard img {
  height: 140px;
  border-radius: 20px;
}

.bookContainer {
  display: flex;
  width: 100%-190px;
}

.bookDatas {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5px;
  font-size: small;
}

.bookDatas .title {
  font-weight: bold;
}

.heart {
  width: 50px;
}
@media screen and (min-width: 1020px) {
  .bookdetail {
    width: 90%;
  }
}
