.form-section {
  margin: 0 10%;
  z-index: -10;
}

.form-title {
  text-decoration: none;
  margin: 32px;
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  color: black;
}

.form-component {
  display: flex;
  flex-direction: column;
  z-index: -1000;
}

.form-component label {
  margin: 16px 0;
  font-weight: bold;
}

.form-component p {
  margin-bottom: 10px;
}

.form-component input,
.form-component textarea {
  border: none;
  border-radius: 20px;
  padding: 8px;
  width: 100%;
  filter: drop-shadow(0px 2px 10px rgba(0, 0, 0, 0.2));
}

.form-component textarea {
  resize: none;
}

.btn-form {
  margin: 20px 30px 140px 30px;
  display: block;
  background-color: #3970fc;
  border-radius: 50px;
  padding: 25px;
  color: white;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
}

@media screen and (min-width: 650px) {
  .textArea {
    height: 250px;
  }
  .form-section {
    margin: -32px 0px 0px 0px;
    width: 500px;
  }

  .form-section label {
    margin-left: 50px;
    width: 80%;
  }

  .form-section button {
    margin-left: 100px;
    width: 60%;
  }

  .form-title {
    font-size: 30px;
    font-weight: 600;
  }

  .btn-form {
    margin: 20px 30px 120px 30px;
    display: block;
    background-color: #3970fc;
    border-radius: 50px;
    padding: 25px;
    color: white;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
  }
}
