.mapContainer {
  position: relative;
}

.localPointer {
  position: absolute;
  z-index: 1500;
  height: 40px;
  width: 40px;
  bottom: 60px;
  right: 10px;
  cursor: pointer;
}

.localPointer:hover {
  filter: brightness(110%);
}

@media screen and (min-width: 650px) {
  .localPointer {
    position: absolute;
    z-index: 1500;
    height: 40px;
    width: 40px;
    top: 20px;
    right: 20px;
    cursor: pointer;
  }
}
