input {
  background-image: url(../assets/HomeQuickSearchBarIcon.png);
  background-repeat: no-repeat;
  text-indent: 20px;
  width: 60vw;
  height: 2em;
  border-width: 2px;
  border-style: solid;
  border-radius: 2em;
  font-size: 0.9em;
  text-align: center;
  /*background-image: url(PSD/loupe.png);*/
}
