.img-desktop {
  display: none;
}

.routes-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 1020px) {
  .main-container {
    display: flex;
    flex-direction: row;
    /* margin: 32px; */
    margin-top: 60px;
    /* padding: 32px; */
    justify-content: space-between;
  }

  .img-desktop {
    background-image: url(../assets/books.jpg);
    display: initial;
    width: 200px;
    z-index: 0;
    padding: 32px;
    background-size: cover;
    background-position: 75%;
    position: fixed;
    height: 100vh;
  }

  .img-right {
    transform: scaleX(-1);
    right: 0px;
    top: 60px;
  }

  .main-routes {
    margin: 150px;
  }

  .routes-container {
    width: 100vw;
    flex-direction: row;
  }
}
