.mapContainer {
  width: 100vw;
  height: 40vh;
}

.leaflet-container {
  width: 100vw;
  height: 40vh;
}

@media screen and (min-width: 1020px) {
  .leaflet-container {
    height: calc(100vh - 65px);
    width: 60vw;
  }

  .mapContainer {
    width: 60vw;
    height: calc(100vh - 65px);
  }
}
