.mapContainer {
  width: 100vw;
}

.leaflet-container {
  width: 100vw;
  height: 400px;
}

@media screen and (min-width: 1000px) {
  .leaflet-container {
    width: 55vw;
    height: 100vh;
  }
  .mapContainer {
    width: 55vw;
  }
}
