.popupBoxContainer {
  display: flex;
  flex-direction: column;
}

.popupBoxContainer p {
  margin: 4px 0;
  padding: 0px;
}
.boxImage {
  position: absolute;
  top: 20px;
  left: 80%; /* à 50%/50% du parent référent */
  transform: translate(-50%, -50%); /* décalage de 50% de sa propre taille */
  width: 50px;
}

.boxName {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 20px;
}

.boxAdress {
  display: flex;
  text-align: left;
}
