.app-container {
  position: relative;
  display: flex;
  flex-direction: column;
}

.header {
  order: 1;
}

.navbar-bottom {
  order: 4;
}

.main {
  order: 2;
}

.footer {
  order: 3;
}

.navbar {
  position: fixed;
  bottom: 0;
  width: 100%;
}
