.app-container {
  position: relative;
  display: flex;
  flex-direction: column;
}

.header {
  order: 1;
}

.navbar-fixed {
  order: 4;
}

.main {
  order: 2;
}

.footer {
  order: 3;
}

.navbar {
  position: fixed;
  bottom: 0;
  width: 100%;
}

@media screen and (min-width: 650px) {
  .header {
    order: 2;
  }

  .navbar-fixed {
    order: 1;
  }

  .main {
    order: 3;
  }

  .footer {
    order: 4;
  }

  .navbar {
    position: initial;
  }
}
